html, body {
	height: 100%;
}

body {
    background: url(background.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    font-family: Open Sans Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.container-fluid {
    background: url(noise.png);
    z-index: 2;
	height: 100%
}

#plexSeries-title {
	color: #ffffff;
	font-size: 1.5rem;
}

#plexSeries-episode {
	font-weight: bold;
}

#plexSeries-thumbnail {
  width: 100%;
  overflow: hidden;
  margin:0 auto;
  
}

.plexTile-background {
	background-color: rgba(0,0,0,.15);
	box-shadow: 0 0 4px rgba(0,0,0,.35);
	padding-right: 0!important;
	padding-left: 0!important;
}

.plexTile-content {
	color: hsla(0,0%,100%,.45);
	padding: 10px;
}

.plexTile-align {
	margin-top: auto;
	margin-bottom: auto;
}

.ryuujiLoading {
	color: #e5a00d;
	float: right;
	position: relative;
	left: -30%; /* or right 50% */
	padding-bottom: 1.5rem;
}

@keyframes blink {
    /**
     * At the start of the animation the dot
     * has an opacity of .2
     */
    0% {
      opacity: .2;
    }
    /**
     * At 20% the dot is fully visible and
     * then fades out slowly
     */
    20% {
      opacity: 1;
    }
    /**
     * Until it reaches an opacity of .2 and
     * the animation can start again
     */
    100% {
      opacity: .2;
    }
}

.ryuujiLoading span {
    /**
     * Use the blink animation, which is defined above
     */
    animation-name: blink;
    /**
     * The animation should take 1.4 seconds
     */
    animation-duration: 1.4s;
    /**
     * It will repeat itself forever
     */
    animation-iteration-count: infinite;
    /**
     * This makes sure that the starting style (opacity: .2)
     * of the animation is applied before the animation starts.
     * Otherwise we would see a short flash or would have
     * to set the default styling of the dots to the same
     * as the animation. Same applies for the ending styles.
     */
    animation-fill-mode: both;
}

.ryuujiLoading span:nth-child(2) {
    /**
     * Starts the animation of the third dot
     * with a delay of .2s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .2s;
}

.ryuujiLoading span:nth-child(3) {
    /**
     * Starts the animation of the third dot
     * with a delay of .4s, otherwise all dots
     * would animate at the same time
     */
    animation-delay: .4s;
}